---
import '../main.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover" />
    <title>Find N2 Fluid</title>
	</head>
	<body>
    <main class="layout">
      <slot />
    </main>
	</body>
</html>

<style>
  .layout {
    width: 382px;
    height: 720px;
    border-radius: 50px;
    background: #000;
  }
</style>
